
.landing {
    margin: 0 auto;
    text-align: center;
}

    .landing-logo {
        width: 20em;
    }

    .landing a {
        color: #fff;
        text-decoration: none;
        transition: ease-in-out .1s;
    }

    .landing a:hover {
        color: #7700FF;
        text-decoration: none;
    }

    .landing .archive {
        font-weight: bold;
        font-size: 2em;
    }
