@font-face {
    font-family: MC;
    src: url("fonts/MC.otf");
}

@font-face {
    font-family: "mc";
    src: url("../fonts/regular.otf") format("opentype");
}

@font-face {
    font-family: "pr";
    src: url("../fonts/pr.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #ffffff00;
    color: #fff;

    overflow: hidden;
}

#clickToEnter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    backdrop-filter: blur(3px) brightness(0.5);
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: #ffffff00;
    min-width: 500px;
    padding: 1em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.glow {
    text-shadow: 0 0 7px #93c3c5;
}

.socials {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
